<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:property name="base_mass" value="1" />

  <xacro:macro name="box_inertial_matrix" params="length width height mass *origin">
    <inertial>
      <mass value="${mass}" />
      <inertia
        ixx="1" ixy="0" ixz="0"
        iyy="0.5" iyz="0"
        izz="1" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial_matrix" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <inertia
        ixx="1" ixy="0" ixz="0"
        iyy="0.5" iyz="0"
        izz="1" />
    </inertial>
  </xacro:macro>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/xarm</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="arm_link1">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="arm_link2">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="arm_link3">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="arm_link4">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="arm_link5">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="gripper_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="left_gripper">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="right_gripper">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>
