<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="transmission_block" params="joint_name">
    <transmission name="trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <!-- For simulating in Gazebo -->
        <!-- <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> -->
        <!-- For real robot -->
        <hardwareInterface>hardware_interface/XArmDriver</hardwareInterface>
      </joint>
      <actuator name="motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:transmission_block joint_name="arm_joint1" />
  <xacro:transmission_block joint_name="arm_joint2" />
  <xacro:transmission_block joint_name="arm_joint3" />
  <xacro:transmission_block joint_name="arm_joint4" />
  <xacro:transmission_block joint_name="arm_joint5" />
  <xacro:transmission_block joint_name="gripper_joint1" />
  <xacro:transmission_block joint_name="gripper_joint2" />

</robot>
