<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="use_gui" default="false" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find lobot_description)/urdf/xarm.urdf.xacro" />

  <!-- Load controllers -->
  <include file="$(find lobot_control)/launch/xarm_trajectory_control.launch" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find lobot_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- Publish joint states -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_gui)" />
    <rosparam param="source_list">[xarm/joint_states]</rosparam>
  </node> -->

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/xarm/joint_states" />
  </node>
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" /> -->

  <!-- Run the robot driver -->
  <node name="xarm_driver" pkg="lobot_driver" type="xarm_driver" />

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find lobot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="false" />
    <arg name="info" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find lobot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

</launch>
