<launch>

  <param name="use_gui" value="true"/>

  <param name="robot_description" command="$(find xacro)xacro $(find lobot_description)/robots/xarm.urdf.xacro"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="demo_rviz" pkg="rviz" type="rviz" args="-d $(find lobot_description)/demo.rviz -f base_link"/>

</launch>
